
.section__instructor__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  margin-top: 3rem;
  background-color: var(--cor-laranja-claro);
}

.section__instructor__text h2{
  font-size: 3rem;
  font-weight: 600;
}
.section__instructor__text span{
  color: var(--cor-verde);
}
.section__instructor__text p {
  font-size: 1.2rem;
  color: var(--cor-cinza);
  font-weight: 400;
}

.instructor__cards__container{
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

.instructor__cards__container .card{
  text-align: center;
}
.instructor__cards__container p {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--cor-cinza);
  margin-top: 0.25rem;
}